{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div>
      <form method="POST">
         <fieldset class="form-group">
            <p class="border-bottom mb- text-center">Log In to see photos and videos <br> from your friends.</p>
            {% csrf_token %}
            {{ form|crispy }}
         </fieldset>
         <button class="btn btn-primary mt-2" type="submit">Log In</button>
      </form>

      <div class='muted mt-2'>
         Dont have an account <a href="{% url 'signup' %}"> Sign Up</a>
      </div>

   </div>
{% endblock %}