{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div>
      <form method="post" enctype="multipart/form-data">
         <fieldset>
            <legend >Update Profile</legend>
            {% csrf_token %}
            {{ form|crispy }}
         </fieldset>

            <button class="btn btn-primary mt-4 " type="submit">Update</button> 
            <a class="btn btn-secondary mt-4" href="{% url 'profile' user.profile.pk %}">Cancel</a>  

         
      </form>

   </div>
{% endblock %}