{% extends "posts/base.html" %}
{% block content %}


{% for post in posts %}
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="card m-2" style="width: 50rem;">
   <div style='display:flex; justify-content:space-between;'>
      <div style='display: flex; align-items: center'>
      <img class="rounded-circle article-img m-2" src="{{ post.user.profile.picture.url }}" />
      <a class="text-decoration-none text-dark " href="{% url 'profile' post.user.profile.pk %}">
         <h6>{{post.user.username}}</h6>
      </a>
      {% if user == post.user %}
      <a href="{% url 'delete-post' post.pk %}" class="btn btn-secondary btn-sm right m-4 ">delete</a>
      {% endif %}    
      </div>
   </div>

   <img class="card-img-body" src="{{ post.image.url }}" alt="Card image cap">
   <div class="card-body d-flex flex-row m-0 p-0 pt-1"> 
      <a class="card-title text-decoration-none text-dark" href="{% url 'profile' post.user.profile.pk %}">
         <h6 class="m-1">{{post.user.username}} </h6>
      </a>
     <p class="card-text m-0.9">{{ post.caption}}</p>

   </div>
   <div class="m-0 p-0 pt-1">
      <h6 class="m-1">Comments:</h6>
   </div>
   {% for comment in post.comments.all  %}
   <div class="card-body d-flex flex-row m-0 p-0 pt-1">
   <a class="card-title text-decoration-none text-dark m-0" href="{% url 'profile' comment.user.profile.pk %}">
   <h6 class="m-1">{{comment.user.username}} </h6>
   </a>  
   <p class="card-text m-0.9">{{ comment.text}}</p>
   </div>
   <div >
      {% if user == comment.user %} 
    
      <a href="{% url 'update-comment' comment.pk %}" class="text-muted m-2"><small>Edit</small></a>
      <a href="{% url 'delete-comment' comment.pk %}" class="text-muted"><small>Delete</small></a>


      {% endif %}
   </div>
  {% endfor %}

      <div class="float-right">
      <a href="{% url 'add-comment' post.id %}" class="btn btn-outline-dark  btn-sm right mt-2 m-1 p-1">Add Comment</a>
      </div>
   </div>
</div>
<div class="col-md-2"></div>

{% endfor %}
{% endblock %}

<div class="col-md-2"></div>
<div class="col-md-8">
</div>
<div class="col-md-2"></div>